# Arquivos de build
/Objects/
/Output/
/Debug/
/Release/

# Arquivos gerados pelo Keil
*.axf
*.map
*.o
*.d
*.lst
*.sct
*.uvproj
*.uvopt
*.uvguix.*
*.htm
*.dep
*.scvd
*.lnp

# Outros arquivos temporarios
*.tmp
*.bak
*.swp

# Diretorios do Keil
/Project/
 
